<h2>Алфа Тикети</h2>
<p><%= @entered %> / <%= @total %> луѓе узезеле</p>

 <form id="searchForm">
    <div class="">
        <input style="width: 12rem;" type="text" id="searchInput" placeholder="Внеси број на тикет">
        <input class= "ms-btn ms-primary" type="submit" value="Провери">
    </div>
</form>

<script>
    document.getElementById('searchForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the default form submission

        var searchInputValue = document.getElementById('searchInput').value;
        var searchUrl = '/tickets/' + encodeURIComponent(searchInputValue) + '/enter'; // Encode the search term

        window.location.href = searchUrl; // Redirect to the search URL
    });
</script>